h1{
    color: blue;
    background-color: aliceblue;
    border: 2px solid black;
}

p{
    font-size: 18px;
}

button{
    background-color: rgb(93, 93, 220);
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
}